.footer {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 50px;
  background: #333333;

  .media-logo {
    height: 30px;
    width: auto;

    &:hover {
      transform: scale(0.9);
    }
  }

  .copyright-left {
    text-align: start;
    width: 30%;
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: #cacaca;
    font-size: 11px;
  }

  .copyright-right {
    text-align: end;
    width: 30%;
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: #cacaca;
    font-size: 11px;
  }

  .copyright-left, .copyright-right {
    @media (max-width: 880px) {
      font-size: 8px;
    }
  }
}
