<section class="container">
  <h2>Startups</h2>
  @if (startups().length) {
    <div class="flex-row flex-wrap flex justify-center content-start items-start">
      @for (startup of startups(); track startup.id) {
        <div class="project-container w-full lg:w-1/2">
          <app-project-card [data]="startup"></app-project-card>
        </div>
      }
    </div>
  }
  <h2>Hackathons</h2>
  @if (hackathons().length) {
    <div class="flex-row flex-wrap flex justify-center content-start items-start">
      @for (hackathon of hackathons(); track hackathon.id) {
        <div class="project-container w-full lg:w-1/2">
          <app-project-card [data]="hackathon"></app-project-card>
        </div>
      }
    </div>
  } @else {
    <div class="loading"></div>
  }
</section>
