<div class="main flex-col">
  <div class="flex flex-row flex-wrap">
    <div class="flex-1 basis-full grid grid-medium">
      <div class="flex grid-card main-photo-card flex-col justify-center content-center items-center">
        <h1 class="text-center">Hi, I’m Wandrille! </h1>
        <div class="flex justify-center items-center flex-col gap-y-4">
          <p class="text-center">You can discover here :</p>
          <div class="flex justify-center items-center content-center md:flex-row max-sm:flex-col gap-4">
            <button routerLink="/cv">
              My resume
            </button>
            <button routerLink="/project">
              My projects
            </button>
          </div>
          <p class="text-center">or just</p>
          <div class="flex justify-center items-center">
            <button routerLink="/contact">
              Contact me
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="grid w-full md:w-1/2">
      <div class="flex grid-card contact-card justify-center items-center">
        <div class="contact-card-container">
          <h2>
            About me.
          </h2>
          <p>
            I'm an innovation and entrepreneurship lover who likes the code.
          </p>
          <p>
            Here is some of my projects.
          </p>
          <p class="more-about-me">
            Want more ?
            <button class="button-contact" color="primary" mat-button routerLink="/contact">Contact me.</button>
          </p>
        </div>
      </div>
    </div>
    <a *ngFor="let project of projects" [routerLink]="project.link" class="grid w-full md:w-1/2">
      <app-card [project]="project"></app-card>
    </a>
  </div>
</div>
