.grid {
  border-left: 0;
  background-color: rgba(25, 158, 111, 0.4);
  border-bottom: 2px solid #ffffff;
  height: 450px;

  &:nth-child(even) {
    border-right: 2px solid #ffffff;
  }

  h2 {
    font-size: 32px;
  }

  .grid-card {
    height: 100%;
    width: 100%;
    color: #ffffff;
  }

  .contact-card {
    background-color: #2ba77b;
    background-image: url('../../assets/images/logo-entreprise.jpg');
    background-size: 400px;

    .contact-card-container {
      max-width: 70%;
    }

    p {
      font-size: 25px;
      color: #bbdbcd;
    }

    .more-about-me {
      font-size: 16px;

      .button-contact {
        margin-left: 20px;
        background-color: #ffffff;
      }
    }
  }

  .main-photo-card {
    background: url('../../assets/images/work-site.jpg') no-repeat center;
    background-size: cover;

    @media (min-width: 670px) {
      h1 {
        font-size: 36px;
      }
    }

    button {
      cursor: pointer;
      background-color: rgba(38, 37, 37, 0.5);
      border: 2px solid #fff;
      color: #fff;
      font-size: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1em 1.5em;
      line-height: 1em;
      margin: 6px 26px;
      transition: background-color .1s 0s ease-in-out, color .1s 0s ease-in-out;
    }

    @media (min-width: 670px) {
      button {
        padding: 1em 1.75em;
      }
    }

    button:hover {
      background-color: #fff;
      color: #181818;
    }
  }
}

.grid-small {
  height: 250px;
}

.grid-big {
  height: 750px;
}

.grid-medium {
  height: 550px;
}
