@if (project(); as p) {
  <section class="container">
    <div class="project-header flex-col lg:flex-row flex justify-start content-start items-start">
      <img [src]="p.urlPicture" alt="Photo du projet" class="w-full lg:w-1/2">
      <div class="hackathon-presentation w-full lg:w-1/2">
        @if (p.name) {
          <h3 class="hackathon-name">{{p.name}}
            @if (p.period) {
              <span>({{p.period}})</span>
            }
          </h3>
        }
        @if (p.description) {
          <span class="description">{{p.description}}</span>
        }
        @if (p.url) {
          <a [href]="p.url" class="url-project">Link</a>
        }
      </div>
    </div>
    @if (p.projectName) {
      <div class="project-content">
        <div class="title">
          <h2 class="text-center">{{p.projectName}}</h2>
        </div>
        @if (p.projectProblematic) {
          <div>
            <p class="text-center section-title">Problematic</p>
            <p class="text-center section-content">{{p.projectProblematic}}</p>
          </div>
        }
        @if (p.projectSolution) {
          <div>
            <p class="text-center section-title">Solution</p>
            <p class="text-center section-content">{{p.projectSolution}}</p>
          </div>
        }
        @if (p.projectRealisation) {
          <div>
            <p class="text-center section-title">What we have done during this hackathon</p>
            <p class="text-center section-content">{{p.projectRealisation}}</p>
          </div>
        }
        @if (p.sections) {
          @for (section of p.sections; track section.title) {
            <div>
              <p class="text-center section-title">{{section.title}}</p>
              <p class="text-center section-content">{{section.description}}</p>
            </div>
          }
        }
        @if (p.projectPowerpoint) {
          <div class="powerpoint-project">
            <p class="text-center section-title">Presentation</p>
            <div class="powerPointIframe flex justify-center content-center items-center" id="powerpointLoader">
              <iframe [src]="p.projectPowerpoint" allowfullscreen="true"
                      onload="document.getElementById('powerpointLoader').style.background='none';"></iframe>
            </div>
          </div>
        }
        @if (p.award) {
          <div>
            <p class="text-center section-title">Award</p>
            <p class="text-center section-content">{{p.projectAward}}</p>
          </div>
        }
      </div>
    }
  </section>
} @else {
  <div></div>
}
