/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'theme.scss';

@include mat-core();
$my-app-primary: mat-palette($material-theme);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1040px
}

.text-center {
  text-align: center;
}

