$material-theme: (
  50 : #e3f3ee,
  100 : #b9e2d4,
  200 : #8bceb7,
  300 : #5dba9a,
  400 : #3aac85,
  500 : #179d6f,
  600 : #149567,
  700 : #118b5c,
  800 : #0d8152,
  900 : #076f40,
  A100 : #a0ffce,
  A200 : #6dffb4,
  A400 : #3aff9a,
  A700 : #20ff8d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

